@import './themes.styl'
@import './transition.styl'

text-color = #aaaaaa
border-color = #ebedf0
active-color = #f2f3f5
background-color = #f8f8f8
background-color-light = #fafafa

.app
  color text-color
  background-color background-color
